* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/background-img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* Esto hace que la imagen cubra todo el área */
  background-attachment: fixed; /* Opcional: fija la imagen al hacer scroll */
  margin: 0; /* Elimina los márgenes por defecto del body */
  min-height: 100vh; /* Asegura que el body ocupe al menos el alto de la ventana */
}
